#
# sample client iked.conf file
#

daemon
{
	# bind to ports
	socket ike 500;
	socket natt 4500;

	# log output
	log_level error;
	log_file "/var/log/iked.log";
#	pcap_decrypt "/var/log/ike-decrypt.pcap";
#	pcap_encrypt "/var/log/ike-encrypt.pcap";

	# retry settings
	retry_delay 10;
	retry_count 2;
}
